%h3.type-title= WORK_TYPES[action_name.to_sym]

%p
  %ol
    - @work_items.each do |item|
      %li= item.name
      - if item.photos.present?
        .photos
          - item.photos.each do |photo|
            .photo= link_to image_tag(photo.image.url(:thumb)), photo.image.url,
                                                          class: 'fancybox', rel: 'photos', title: item.name
          .clearfix