%h3 Малоэтажное строительство

%p
  %ol
    %li Земляные работы
    %li Фундаменты

    %li Сети (водоснабжение, канализация, электричество)

    %li Гидроизоляция

    %li шумо-теплоизоляция

    %li бетонные и каменные работы

    %li Кровельные работы
    %li Устройство внутренних инженерных систем
    %li Облицовочные работы
    %li Ограждения (заборы)