%h2
  Наша компания предлагает
%ul#main
  - @pages.each do |page|
    %li{class: page.name}>
      = link_to page.title, "/#{page.name}"
%h3 Контакты
%p
  (4212) 602-043, +7-962-220-20-43
%p
  (4212) 246-673,  +7-914-159-66-73
%p
  Email:
  = link_to 'tehnoles10@mail.ru', 'mailto:tehnoles10@mail.ru'