DROPBOX_APP_KEY: 1
DROPBOX_APP_SECRET: 2
DROPBOX_ACCESS_TYPE: 3
DROPBOX_ACCESS_TOKEN: 4
DROPBOX_ACCESS_TOKEN_SECRET: 5
DROPBOX_USER_ID: '6'

MONGODB_DEVELOPMENT_URI: mongodb://aa:bb@dharma.mongohq.com:10030/ss
