/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require formtastic
 *= require formtastic-bootstrap
 *= require fancybox
 *= require_tree .
 */
body
  background-color: #EDF5AD!important
header
  margin: 15px 0
  border-bottom: 2px solid #ccc
  padding-bottom: 10px
  position: relative
.footer
  margin: 20px 0
.container
  box-shadow: 0 0 20px
  padding: 0 10px
  background-color: #fff
.main-content
.center
  text-align: center
.margin-bottom-20
  margin-bottom: 20px