@mixin transition($transition...) 
  -webkit-transition: $transition
  -moz-transition: $transition
  -o-transition: $transition
  transition: $transition


img.thumb
  height: 70px
ul#main
  list-style-type: none
  .development, .repair, .eco
    display: inline-block
    text-align: center
    a
      vertical-align: middle
      color: #333
      text-shadow: 1px 1px 2px #eee
      font-size: 18px
      font-weight: bold
      display: block
  .development, .repair, .eco
    width: 100%
  .eco
    background-image: image-url('eco-bg.jpg')
  .development
    background-image: image-url('dev-bg.jpg')
  .repair
    background-image: image-url('rep-bg.jpg')

.rounded-link
  border-radius: 5px
  opacity: .8
  box-shadow: 0 0 5px rgb(94, 57, 11)
  +transition(all .1s ease-in-out)
  &:active
    box-shadow: inset 2px 2px 5px rgb(94, 57, 11)

  &:hover
    opacity: 1
  a
    text-decoration: none